{% extends 'base.html.twig' %}

{% block title %}Éditer un jeu{% endblock %}

{% block body %}
    <h1>Éditer un jeu</h1>

    {{ include('game/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('game_index') }}">Retour à la liste</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
