{% extends 'base.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block body %}
    <h2 class="mt-5 mb-5 typo text-center ">Ajouter une nouveau jeu à ma collection ludique</h2>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('game_index') }}">Retour à la liste</a>
{% endblock %}
