{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h2 class="mt-5 mb-5 typo text-center ">Ajouter une nouveau jeu à ma ludothéque</h2>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('game_index') }}">Retour</a>
{% endblock %}
