@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$bodyFont : 'Jost', sans-serif;
$subtitle : 'Jost', sans-serif;
$titleFont : 'Bebas Neue', cursive;

