body {
  background-color: #343A40;
  font-family: $bodyFont;
  color: black;
}

.list-color li{
  background-color: #304d53;
}
.card {
  border-radius: 0 0 25px 0 ;
  box-shadow: 0 0 5px 2px rgba(60, 153, 158, 0.2);
  border-style: none;
}
