{% extends 'base.html.twig' %}

{% block title %}Éditer une fréquence{% endblock %}

{% block body %}
    <h1>Éditer une fréquence</h1>

    {{ include('frequency/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('frequency_index') }}">Retour à la liste</a>

    {{ include('frequency/_delete_form.html.twig') }}
{% endblock %}
