{% extends 'base.html.twig' %}

{% block title %}Nouvelle fréquence{% endblock %}

{% block body %}
    <h1>Créer une nouvelle fréquence</h1>

    {{ include('frequency/_form.html.twig') }}

    <a href="{{ path('frequency_index') }}">Retour à la liste</a>
{% endblock %}
