<footer>
    <p class="signature footer mb-1">Made by <a class="myName" href="">Laureen Dumas</a></p>
    <div>
        <a class="icone-link" target="_blank" href="https://fr.linkedin.com/in/laureen-dumas"><i class="fab fa-linkedin"></i></a>
        <a class="icone-link" target="_blank" href="https://github.com/Laureenrinadumas"><i class="fab fa-github-square"></i></a>
    </div>
</footer>
