{% extends 'base.html.twig' %}

{% block title %}Éditer une complexité{% endblock %}

{% block body %}
    <h1>Éditer une complexité</h1>

    {{ include('complexity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('complexity_index') }}">Retour à la liste</a>

    {{ include('complexity/_delete_form.html.twig') }}
{% endblock %}
