{% extends 'base.html.twig' %}

{% block title %}Edit Complexity{% endblock %}

{% block body %}
    <h1>Edit Complexity</h1>

    {{ include('complexity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('complexity_index') }}">back to list</a>

    {{ include('complexity/_delete_form.html.twig') }}
{% endblock %}
