{% extends 'base.html.twig' %}

{% block title %}Nouvelle complexité{% endblock %}

{% block body %}
    <h1>Créer une complexité</h1>

    {{ include('complexity/_form.html.twig') }}

    <a href="{{ path('complexity_index') }}">Retour à la liste</a>
{% endblock %}
