{% extends 'base.html.twig' %}

{% block title %}New Complexity{% endblock %}

{% block body %}
    <h1>Create new Complexity</h1>

    {{ include('complexity/_form.html.twig') }}

    <a href="{{ path('complexity_index') }}">back to list</a>
{% endblock %}
